.event {
  position: relative;
  padding-top: 40px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}

@media (max-width: 768px) {
  /* .event h1 {
    font-size: 30px;
  } */

  .event h3 {
    font-size: 23px;
  }
}

@media (max-width: 600px) {
  /* .event h1 {
    font-size: 25px;
  } */

  .event h3 {
    font-size: 20px;
  }
}
