.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.event > div:first-child,
.event > div:nth-child(2) {
  margin-right: 20px;
}

.img {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 2;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 15px;
  }

  .event > div:first-child,
  .event > div:nth-child(2) {
    margin-right: 0;
  }

  .info {
    margin-bottom: 20px;
  }

  .info h3 {
    font-size: 17px;
  }
}
